//= require ./normalize
//= require ../ChunkFive/stylesheet
//= require ../Edelsans/stylesheet

@import compass


// COLORS

$lightYellow: #f9fcc6

$orange: #f29826
$darkOrangeRed: #df7524

$green: #719954
$darkGreen: #5d8741


// MIXINS

=heading-font-family
    font-family: ChunkFiveRegular

=body-font-family
    font-family: edelsansregular

%container
    position: relative
    margin: 0 auto
    min-width: 45rem
    max-width: 55rem
    padding: 0 1.5rem


// BASE

*
    +box-sizing(border-box)
a
    text-decoration: none

    &:hover
        text-decoration: underline

html
    font-size: 100%   // 1em == 16px

body 
    color: #666
    +body-font-family

    > header
        h1
            color: #444

    > .content

    > footer
        @extend %container
        margin-top: 3em
        text-align: right
        font-style: italic
        font-size: .75em
        color: #ccc


// PROJECT INDEX STYLES

.projects
    > header
        margin-bottom: 1em
    
        .wrap
            @extend %container
            padding:
                top: .75em * 1/2
                bottom: .75em * 1/2

        color: $lightYellow
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .15)
        background-color: $orange
        border: none
            bottom: solid 2px $darkOrangeRed

        h1
            +heading-font-family
            font-size: 2.25em
            display: inline

        .desc
            display: inline
            margin-left: 1em

.project
    @extend %container
    margin-bottom: 1em
    min-height: 5.5em

    header > a

        .name
            display: inline

            color: $darkOrangeRed
            font-size: 1.75em
            font-weight: 500

        .path
            margin-left: .75em
            color: #aaa

        &:hover
            text-decoration: none

            .name
                text-decoration: underline

    dl.deps
        +clearfix
        padding: 0
            top: .5
            left: 2em

        color: #888
        line-height: 1.25em

        dt, dd
            margin: 0
            float: left
            width: 10em

        dt
            clear: left
            margin-right: 1em

            color: $darkGreen

            &:after
                content: ':'

        %dep-version
            float: left

        .requested
            @extend %dep-version
            width: 4em
            padding-right: 1em
            color: $orange

        .resolved
            @extend %dep-version
            width: 5em
            color: $green

            &:before
                content: '→'
                display: inline-block
                width: 2em


    %extra-info
        position: absolute
        text-align: right
        right: 1.5em
        color: #b3b3b3

    .path
        @extend %extra-info
        top: 0
        font-size: 1.25em
        line-height: 2em

    .meta
        @extend %extra-info
        top: 3em
        line-height: 1.25em

        .outstanding, .incoming, .remote-branch, .time-delta-value
            color: #4a4a4a


