//= require ./normalize
//= require ../ChunkFive/stylesheet
//= require ../Edelsans/stylesheet

@import compass


// COLORS

$lightYellow: #f9fcc6

$orange: #f29826
$darkOrangeRed: #df7524
$darkerOrangeRed: #D96000

$lightGreen: #85AF55
$green: #719954
$darkGreen: #5d8741

$lightBlue: #85b0de
$blue: #3d74af 
$darkBlue: #0c3c7e


// MIXINS

=heading-font-family
    font-family: ChunkFiveRegular

=body-font-family
    font-family: edelsansregular

%container
    position: relative
    margin: 0 auto
    min-width: 50rem
    max-width: 60rem
    padding: 0 1.5rem


// BASE

*
    +box-sizing(border-box)

a
    text-decoration: none
    color: $blue

a:visited
    color: $darkBlue

a:link:hover
    @extend a:visited
    text-decoration: underline

html
    font-size: 100%   // 1em == 16px

body 
    color: #666
    +body-font-family

    > header
        h1
            color: #444

    > footer
        @extend %container
        margin:
            top: 3em
            bottom: 3em
        text-align: right
        font-style: italic
        font-size: .75em
        color: #ccc


// SHARED STYLES

%base-header
    margin-bottom: 1.5em

    .wrap
        @extend %container
        padding:
            top: .75em
            bottom: .75em * .8

    color: $lightYellow
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .15)

    a
        color: $lightYellow

    h1
        +heading-font-family
        font-size: 2.25em
        line-height: 1
        display: inline
        -webkit-font-smoothing: antialiased

    .desc
        display: inline
        margin-left: 1em


span.version, a.version
    letter-spacing: 1px


%project-header
    @extend %base-header

    background-color: $orange
    border: none
        bottom: solid 2px $darkOrangeRed

%dependency-header
    @extend %base-header

    background-color: $green
    border: none
        bottom: solid 2px $darkGreen

%base-project-name
    display: inline
    font-size: 1.75em
    font-weight: 500

// PROJECT INDEX STYLES

.projects
    > header
        @extend %project-header

.projects > .project
    @extend %container
    margin-bottom: 1em
    min-height: 5.5em

    header > a

        .name
            display: inline
            font-size: 1.75em
            font-weight: 500

            color: $darkerOrangeRed

        .version
            font-size: 1.75em
            margin-left: .75em
            color: $orange

        &:hover
            text-decoration: none

            .name
                text-decoration: underline

    dl.deps
        +clearfix
        padding: 0
            top: .5
            left: 2em

        color: #888
        line-height: 1.25em

        dt, dd
            margin: 0
            float: left
            width: 11em

        dt
            clear: left
            margin-right: 1em

            a
                color: $lightGreen

                &:after
                    content: ':'

                &.project
                    color: $darkerOrangeRed

        %dep-version
            float: left

        .requested
            @extend %dep-version
            width: 4em
            padding-right: 1em
            color: $orange

        .resolved
            @extend %dep-version
            width: 6em
            color: $lightGreen

            &:before
                content: '→'
                color: $orange
                display: inline-block
                width: 2em


    %extra-info
        position: absolute
        text-align: right
        right: 1.5em
        color: #b3b3b3

    .path
        @extend %extra-info
        top: 0
        font-size: 1.25em
        line-height: 2em

    .meta
        @extend %extra-info
        top: 3em
        line-height: 1.25em

        .outstanding, .incoming, .remote-branch, .time-delta-value
            color: #4a4a4a


// DEPENDENCY INDEX STYLES

%flex-container
    @extend %container
    +clearfix
    clear: left

%flex-section-styles
    float: left

=flex-section($width)
    @extend %flex-section-styles
    width: $width


.dependencies
    margin-top: 3em

    > header
        @extend %dependency-header

.dependency
    @extend %flex-container
    line-height: 2em
    margin-bottom: .5em

    header > a
        +flex-section(33%)
        font-weight: 500
        color: $darkGreen

        h2
            margin: 0
            font-size: 1.3em

    %list-o-dep-stuff
        +horizontal-list
        line-height: 1.2

        li
            padding: 0

        li a:after
            content: ', '
            margin-right: .5em

        li:last-child a:after
            content: ''

    ul.versions
        @extend %list-o-dep-stuff
        +flex-section(32%)
        margin-left: 1%
        color: $lightGreen
        a
            color: $lightGreen

    ul.dependees
        @extend %list-o-dep-stuff
        +flex-section(32%)
        margin-left: 1%

        &, a
            color: #999

        li:first-child:before
            content: '… in '



// DIRECTORY INDEX STYLES

body > .directory
    &.is-project > header
        @extend %project-header

        h1
            font-size: 1.75em
            line-height: 1.2857142857
            font-weight: normal
            letter-spacing: 1px

        a 
            margin-right: .25em

            &:after
                content: '/'

            &:hover
                text-decoration: none
                border-bottom: 1px solid $lightYellow

    &.is-depedency > header 
        @extend %dependency-header

    .dirs-n-files
        @extend %container

        table
            width: 100%
            line-height: 1.5

            .name
                min-width: 50%

            .mtime
                text-align: right
